.image2Icon {
  height: 78px;
  width: 118px;
  position: relative;
  object-fit: cover;
}
.home2 {
  flex: 1;
  position: relative;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.home1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fRAMEFrameCollegeShuttl {
  width: 53px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.contactUs1 {
  width: 81px;
  position: relative;
  display: inline-block;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.contactUs {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fRAMEFrameCollegeShuttl1 {
  width: 109px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.collegeShuttles1 {
  flex: 1;
  position: relative;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.collegeShuttles {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fRAMEFrameCollegeShuttl2 {
  width: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.ourBuses1 {
  flex: 1;
  position: relative;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.ourBuses {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fRAMEFrameCollegeShuttl3 {
  width: 94px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.contactUs3 {
  flex: 1;
  position: relative;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}
.contactUs2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.fRAMEFrameCollegeShuttl4 {
  width: 123px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) var(--padding-xl) 0;
  box-sizing: border-box;
}
.rECTANGLEImageFrame,
.vECTOR {
  position: absolute;
  cursor: pointer;
}
.rECTANGLEImageFrame {
  top: 0;
  left: 0;
  background-color: var(--color-brown);
  width: 100%;
  height: 100%;
}
.vECTOR {
  top: 35px;
  left: 32px;
  width: 24px;
  height: 18px;
  z-index: 1;
}
.frameLuxuryReliableBusFram {
  height: 89px;
  width: 88px;
  position: relative;
}
.frameContactUsFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frameContactUsFrameWrapper,
.rECTANGLE {
  width: 840px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
}
.rECTANGLE {
  width: 1274px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-300);
  font-family: var(--font-palatino-linotype);
}
.tEXTEnterYourEmailText {
  width: 100%;
  position: absolute;
  margin: 0 !important;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: #eae2bf;
}
.requestAQuote {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  z-index: 1;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-lg) var(--padding-lgi);
  background-color: transparent;
  position: absolute;
  top: 374px;
  left: 0;
  border-radius: var(--br-3xs);
  width: 284px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  white-space: nowrap;
}
.tEXTWeDoNotShareYourE,
.tEXTWeDoNotShareYourE1 {
  position: absolute;
  border-radius: var(--br-981xl);
  width: 880px;
  height: 311px;
}
.tEXTWeDoNotShareYourE {
  top: 171px;
  left: 0;
  background-color: rgba(220, 211, 171, 0.43);
}
.tEXTWeDoNotShareYourE1 {
  top: 105px;
  left: 52px;
  background-color: var(--color-darkkhaki);
  z-index: 1;
}
.image39Icon,
.tEXTGetNotifiedAboutNew {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.image39Icon {
  left: 136px;
  max-height: 100%;
  width: 637px;
  object-fit: cover;
  z-index: 2;
}
.tEXTGetNotifiedAboutNew {
  left: 529px;
  width: 932px;
}
.blankLine,
.blankLine1,
.luxuryReliable {
  margin: 0;
}
.luxuryReliableContainer {
  margin: 0;
  position: absolute;
  top: 50px;
  left: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 644px;
  height: 156px;
  z-index: 2;
}
.loremIpsumDolor {
  margin: 0;
}
.loremIpsumDolorContainer {
  position: absolute;
  top: 270px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  display: inline-block;
  width: 529px;
  height: 67px;
  z-index: 2;
}
.iNSTANCEbuttonFrame {
  height: 482px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.fRAME,
.frameHeaderFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frameHeaderFrame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 34px;
  max-width: 100%;
}
.fRAME {
  width: 1495px;
  flex-direction: column;
  padding: 0 0 42px;
  gap: 81px;
  max-width: 119%;
  flex-shrink: 0;
}
.fRAMEWrapper,
.img1209Icon {
  align-self: stretch;
  max-width: 100%;
}
.fRAMEWrapper {
  height: 709px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.img1209Icon {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 100%;
  transform: scale(1.093);
}
.wrapperImg1209 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperImg1209Wrapper {
  height: 458px;
  width: 598px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 26px 0 0;
  box-sizing: border-box;
  min-width: 598px;
  max-width: 100%;
}
.blankLine2,
.blankLine3,
.collegeShuttles3 {
  margin: 0;
}
.collegeShuttles2 {
  margin: 0;
  width: 430px;
  height: 122px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  padding-right: var(--padding-xl);
}
.blankLine4,
.loremIpsumDolor1 {
  margin: 0;
}
.loremIpsumDolorContainer1 {
  align-self: stretch;
  height: 108px;
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
  display: inline-block;
  flex-shrink: 0;
}
.collegeShuttlesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 29px;
  max-width: 100%;
}
.frameChild {
  height: 66px;
  width: 277px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkred);
  display: none;
}
.collegeBreaks {
  position: relative;
  z-index: 1;
}
.rectangleParent {
  width: 277px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkred);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-lgi) var(--padding-lg) var(--padding-lg);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.collegeframescontainer,
.frameGroup,
.frameParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 49px;
  min-width: 398px;
}
.collegeframescontainer,
.frameParent {
  flex-direction: row;
}
.frameParent {
  flex: 1;
  justify-content: flex-start;
  gap: 72px;
}
.collegeframescontainer {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-height: 488px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.textframelocation {
  height: 3px;
  width: 95px;
  position: relative;
  border-top: 3px solid var(--color-brown);
  box-sizing: border-box;
  z-index: 1;
}
.ourNews {
  margin: 0;
  align-self: stretch;
  height: 58px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.quicklinkscontainerframe {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  box-sizing: border-box;
  min-width: 164px;
}
.locationiconframe {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}
.someOfOur {
  position: relative;
}
.footerlinksectionframe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl);
  font-size: var(--font-size-xl);
  color: var(--color-gray-200);
}
.clockiconframe,
.textframeworkhours {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.textframeworkhours {
  width: 344px;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}
.clockiconframe {
  width: 431px;
  flex-direction: row;
  align-items: flex-start;
}
.busTimingFrameChild {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.17);
  height: 526px;
  display: none;
}
.newBuses,
.newBusesIcon {
  position: relative;
  z-index: 1;
}
.newBusesIcon {
  align-self: stretch;
  height: 256px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.newBuses {
  width: 138px;
  height: 28px;
  display: inline-block;
}
.blankLine5,
.loremIpsumDolor2 {
  margin: 0;
}
.loremIpsumDolorContainer2 {
  align-self: stretch;
  height: 108px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.inputEmail,
.newsletterSubscribe {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.inputEmail {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-lg);
}
.newsletterSubscribe {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-mid) 0 0;
  box-sizing: border-box;
}
.readMore {
  position: relative;
  text-decoration: underline;
  color: var(--color-brown);
  z-index: 1;
}
.companyUpdatesFrame,
.readmoreBtn {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.companyUpdatesFrame {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 45px;
}
.readmoreBtn {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-smi) 0 var(--padding-lg);
  box-sizing: border-box;
}
.busTimingFrame,
.clockIconFrameChild {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.17);
}
.busTimingFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-9xl);
  max-width: 100%;
}
.clockIconFrameChild {
  align-self: stretch;
  position: relative;
  height: 526px;
  display: none;
}
.img1209Icon1 {
  align-self: stretch;
  height: 252px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.companyUpdates,
.img1209Icon1 {
  position: relative;
  z-index: 1;
}
.blankLine6,
.loremIpsumDolor3 {
  margin: 0;
}
.loremIpsumDolorContainer3 {
  align-self: stretch;
  height: 108px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.companyUpdatesParent,
.faqsFrame {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.companyUpdatesParent {
  flex: 1;
  flex-direction: column;
  gap: 19px;
}
.faqsFrame {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 0;
  box-sizing: border-box;
}
.readMore1 {
  position: relative;
  text-decoration: underline;
  color: var(--color-brown);
  z-index: 1;
}
.termsOfServicesFrame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 44px;
  max-width: 100%;
}
.clockIconFrame,
.privacyPolicyFrame,
.workHoursFrame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.privacyPolicyFrame {
  width: 372px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 10px;
}
.clockIconFrame,
.workHoursFrame {
  flex-direction: column;
}
.clockIconFrame {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.17);
  align-items: flex-end;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-13xl);
}
.workHoursFrame {
  align-items: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.busTimingFrameItem {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.17);
  height: 526px;
  display: none;
}
.busTiming,
.img1209Icon2 {
  position: relative;
  z-index: 1;
}
.img1209Icon2 {
  align-self: stretch;
  height: 252px;
  border-radius: var(--br-3xs) var(--br-3xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.busTiming {
  width: 320px;
  display: inline-block;
}
.blankLine7,
.loremIpsumDolor4 {
  margin: 0;
}
.loremIpsumDolorContainer4 {
  align-self: stretch;
  height: 108px;
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.busTimingParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.busTimingParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
}
.frameWrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-xs) 0 0;
  box-sizing: border-box;
}
.readMore2 {
  position: relative;
  text-decoration: underline;
  color: var(--color-brown);
  z-index: 1;
}
.frameContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 43px;
  max-width: 100%;
}
.busTimingFrameInner {
  width: 374px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.busTimingFrame1,
.busTimingFrameInner,
.newBusInfo {
  justify-content: flex-start;
  max-width: 100%;
}
.busTimingFrame1 {
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 var(--padding-mini);
  box-sizing: border-box;
  gap: var(--gap-13xl);
}
.newBusInfo {
  align-self: stretch;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-17xl);
  grid-template-columns: repeat(3, minmax(293px, 1fr));
  text-align: left;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
}
.frametitleworkhours,
.frametitleworkhoursWrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frametitleworkhours {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 73px;
}
.frametitleworkhoursWrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xl) 0 22px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.homePageChild {
  height: 117px;
  width: 1217px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  display: none;
  max-width: 100%;
}
.getNotifiedAbout,
.joinOurNewsletter {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.joinOurNewsletter {
  margin: 0;
  align-self: stretch;
  height: 44px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.getNotifiedAbout {
  width: 230px;
  font-size: var(--font-size-base);
  font-family: var(--font-palatino-linotype);
  background: linear-gradient(148.81deg, #fff, #908345);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.charteringFrame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.contactUsFrame,
.otherPagesLink {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.contactUsFrame {
  width: 368px;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8xs) 0 0;
  max-width: 100%;
}
.otherPagesLink {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  align-self: stretch;
  height: 62px;
  border-radius: var(--br-3xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-lgi) var(--padding-4xl);
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: var(--font-size-xl);
  color: #9d9d9d;
  min-width: 250px;
  z-index: 2;
}
.weDoNot {
  flex: 1;
  position: relative;
  display: inline-block;
  background: linear-gradient(148.81deg, #fff, #908345);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 100%;
  z-index: 2;
}
.clockIcon,
.newsletterSubscription {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.clockIcon {
  width: 395px;
  flex-direction: row;
  padding: 0 4px;
  box-sizing: border-box;
}
.newsletterSubscription {
  flex: 1;
  flex-direction: column;
  gap: 7px;
}
.readMoreButtonChild {
  height: 62px;
  width: 246px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkkhaki);
  display: none;
}
.subscribe {
  height: 29px;
  position: relative;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 3;
}
.readMoreButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) 66px var(--padding-mid) 63px;
  background-color: var(--color-darkkhaki);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.readMoreButton:hover {
  background-color: #78692b;
}
.homePage,
.subscribeButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.subscribeButton {
  flex: 1;
  gap: var(--gap-xs);
  min-width: 498px;
  text-align: center;
  font-size: var(--font-size-base);
  font-family: var(--font-palatino-linotype);
}
.homePage {
  width: 1217px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-300);
  flex-wrap: wrap;
  padding: var(--padding-lgi) var(--padding-5xl) var(--padding-smi);
  box-sizing: border-box;
  gap: var(--gap-16xl);
  z-index: 1;
}
.termsOfServicesFrameChild {
  height: 433px;
  width: 1280px;
  position: relative;
  background-color: var(--color-brown);
  display: none;
  max-width: 100%;
  z-index: 0;
}
.otherPages {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.buses,
.chartering,
.contactUs4,
.home3,
.services {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.quickLinksSection {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.workHours {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.mdiclockOutlineIcon {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.amPmLabel,
.locationLabelIcon {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
}
.locationLabelIcon {
  height: 24px;
  width: 17px;
}
.mondayToFridayText,
.vectormonth {
  display: flex;
  justify-content: flex-start;
}
.vectormonth {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 3px;
}
.mondayToFridayText {
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-12xs);
  gap: var(--gap-9xl);
}
.am7Pm {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.mumbaiText {
  white-space: nowrap;
}
.mumbaiIndia,
.mumbaiText {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.mumbaiLocationInfo {
  flex-direction: row;
  padding: 0 6px;
}
.mumbaiCityIcon,
.mumbaiLocationInfo,
.workHoursFrame1,
.workHoursFrameContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.workHoursFrameContent {
  flex-direction: column;
  gap: 26px;
}
.mumbaiCityIcon,
.workHoursFrame1 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.mumbaiCityIcon {
  position: absolute;
  top: 0;
  left: 494px;
  flex-direction: column;
  padding: 0 var(--padding-12xs) 0 0;
  gap: var(--gap-sm);
}
.fAQsFrame {
  height: 214px;
  width: 800px;
  position: relative;
  max-width: 100%;
}
.privacyPolicy,
.quickLinks {
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.privacyPolicy {
  font-weight: 300;
}
.privacyTermsFaqContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
}
.termsOfServices {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.privacyTermsFaqContainer1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.faqs {
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.privacyTermsFaqContainer2,
.triStateText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.privacyTermsFaqContainer2 {
  flex-direction: row;
  padding: 0 var(--padding-6xs);
}
.triStateText {
  position: absolute;
  top: 25px;
  left: 609px;
  flex-direction: column;
  gap: var(--gap-sm);
}
.coach,
.triState {
  position: relative;
  z-index: 1;
}
.triState {
  margin: 0;
  width: 265px;
  flex: 1;
  font-size: inherit;
  font-weight: 700;
  font-family: var(--font-palatino-linotype);
  background: linear-gradient(148.81deg, #fff, #908345);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.coach {
  letter-spacing: 0.2em;
}
.designBackgroundFrame {
  width: 249px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.loremIpsumDolor5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  z-index: 1;
}
.coachText,
.faqTitleText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.faqTitleText {
  align-self: stretch;
  height: 38px;
  flex-direction: row;
  padding: 0 0 0 var(--padding-6xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
}
.coachText {
  position: absolute;
  top: 0;
  left: 0;
  width: 317px;
  height: 158px;
  flex-direction: column;
  gap: var(--gap-3xl);
  font-size: 64px;
}
.quickLinksFrame {
  height: 163px;
  width: 784px;
  position: absolute;
  margin: 0 !important;
  top: 120px;
  left: 53px;
}
.termsOfServicesFrame1 {
  align-self: stretch;
  height: 433px;
  background-color: var(--color-brown);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-55xl) 47px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  margin-top: -58px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.busInfo,
.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.busInfo {
  align-self: stretch;
  align-items: center;
  max-width: 100%;
  text-align: left;
  font-size: 36px;
  color: var(--color-white);
  font-family: var(--font-inter);
}
.home {
  width: 100%;
  position: relative;
  background-color: #fffced;
  overflow: hidden;
  align-items: flex-end;
  gap: 140px;
  letter-spacing: normal;
}
@media screen and (max-width: 1275px) {
  .homePage {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 1100px) {
  .img1209Icon {
    align-self: stretch;
    width: auto;
  }
  .wrapperImg1209Wrapper {
    flex: 1;
  }
  .frameParent {
    flex-wrap: wrap;
  }
  .newBusInfo {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(293px, 508px));
  }
  .termsOfServicesFrame1 {
    padding-left: var(--padding-4xl);
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .luxuryReliableContainer {
    font-size: var(--font-size-19xl);
  }
  .fRAME {
    gap: 40px;
    padding-bottom: 27px;
    box-sizing: border-box;
  }
  .wrapperImg1209Wrapper {
    min-width: 100%;
  }
  .collegeShuttles2 {
    font-size: var(--font-size-19xl);
  }
  .frameGroup {
    gap: 24px;
  }
  .frameParent {
    gap: var(--gap-17xl);
  }
  .ourNews {
    font-size: var(--font-size-19xl);
  }
  .newBusInfo {
    gap: var(--gap-lg);
    grid-template-columns: minmax(293px, 1fr);
  }
  .frametitleworkhours {
    gap: var(--gap-17xl);
  }
  .joinOurNewsletter {
    font-size: var(--font-size-10xl);
  }
  .subscribeButton {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .homePage {
    gap: 17px;
  }
  .triState {
    font-size: 51px;
  }
  .home {
    gap: 70px;
  }
}
@media screen and (max-width: 450px) {
  .luxuryReliableContainer {
    font-size: var(--font-size-10xl);
  }
  .loremIpsumDolorContainer {
    font-size: var(--font-size-base);
  }
  .fRAME {
    gap: var(--gap-xl);
  }
  .collegeShuttles2 {
    font-size: var(--font-size-10xl);
  }
  .loremIpsumDolorContainer1 {
    font-size: var(--font-size-base);
  }
  .frameGroup {
    min-width: 100%;
  }
  .frameParent {
    gap: var(--gap-lg);
  }
  .ourNews {
    font-size: var(--font-size-10xl);
  }
  .someOfOur {
    font-size: var(--font-size-base);
  }
  .newBuses,
  .readMore {
    font-size: var(--font-size-lgi);
  }
  .companyUpdatesFrame {
    gap: var(--gap-3xl);
  }
  .companyUpdates,
  .readMore1 {
    font-size: var(--font-size-lgi);
  }
  .termsOfServicesFrame {
    gap: var(--gap-3xl);
  }
  .clockIconFrame {
    gap: var(--gap-base);
  }
  .busTiming,
  .readMore2 {
    font-size: var(--font-size-lgi);
  }
  .frameContainer {
    gap: 21px;
  }
  .busTimingFrame1 {
    gap: var(--gap-base);
  }
  .frametitleworkhours {
    gap: var(--gap-lg);
  }
  .joinOurNewsletter {
    font-size: 22px;
  }
  .subscribe {
    font-size: var(--font-size-lgi);
  }
  .am7Pm,
  .buses,
  .chartering,
  .contactUs4,
  .faqs,
  .home3,
  .mumbaiIndia,
  .mumbaiText,
  .otherPages,
  .privacyPolicy,
  .quickLinks,
  .services,
  .termsOfServices,
  .workHours {
    font-size: var(--font-size-base);
  }
  .triState {
    font-size: var(--font-size-19xl);
  }
  .coach {
    font-size: var(--font-size-base);
  }
  .termsOfServicesFrame1 {
    padding-top: var(--padding-55xl);
    padding-bottom: 48px;
    box-sizing: border-box;
  }
  .home {
    gap: var(--gap-16xl);
  }
}
